
// estrutura de productos
/* estructura de pruductos  */

 .productos-page{
         h2{
            @extend %clase-h;
    }
     .productos-1{
        @include grid;
        grid-template-areas:
        "carousel carousel carousel carousel"
        "img-1 img-2 img-3 img-4"
        "img-5 img-6 img-7 img-8"
       "img-9 img-10 img-11 img-12"
     "img-13 img-14 img-15 img-16";
gap: 30px;
justify-content: center;

.carousel-1{
   height: 310px;
}
    }

    .img-1{
        grid-area: img-1 ;
     }
     .img-2{
         grid-area: img-2 ;
     }
     .img-3{
         grid-area: img-3 ;
     }
     .img-4{
         grid-area: img-4 ;
     }
     .img-5{
         grid-area: img-5 ;
     }
     .img-6{
         grid-area: img-6 ;
     }
     .img-7{
         grid-area: img-7 ;
     }
     .img-8{
         grid-area: img-8 ;
     }
     .img-9{
         grid-area: img-9 ;
     }
     .img-10{
         grid-area: img-10 ;
     }
     .img-11{
         grid-area: img-11 ;
     }
     .img-12{
         grid-area: img-12 ;
     }
     .img-13{
         grid-area: img-13 ;
     }
     .img-14{
         grid-area: img-14 ;
     }
     .img-15{
         grid-area: img-15 ; 
      }
      .img-16{
         grid-area: img-16 ; 
      }
      .carousel{
        grid-area: carousel;
      }
}

    // media query para tablet
  /*  media query para tablet */

  @media (min-width: 601px) and (max-width: 991.98px){
     .productos-page{
             h2{
                text-align: center;
                font-size: 2em;
                padding: 40px;
            }
         .productos-1{
            @include grid;
    grid-template-areas: 
    "carousel carousel carousel carousel"
    "img-1 img-2 img-3 img-4"
    "img-5 img-6 img-7 img-8"
   "img-9 img-10 img-11 img-12"
 "img-13 img-14 img-15 img-16";
    gap: 20px;
    justify-content: center;
    .card{ width: 2rem;
     }

    }
    .img-1{
       grid-area: img-1 ;
       @include img; 
    }
    .img-2{
        grid-area: img-2 ;
        @include img;
    }
    .img-3{
        grid-area: img-3 ;
        @include img;
    }
    .img-4{
        grid-area: img-4 ;
        @include img;
    }
    .img-5{
        grid-area: img-5 ;
        @include img;
    }
    .img-6{
        grid-area: img-6 ;
        @include img;
    }
    .img-7{
        grid-area: img-7 ;
        @include img;
    }
    .img-8{
        grid-area: img-8 ;
        @include img;
    }
    .img-9{
        grid-area: img-9 ;
        @include img;
    }
    .img-10{
        grid-area: img-10 ;
        @include img;
    }
    .img-11{
        grid-area: img-11 ;
        @include img;
    }
    .img-12{
        grid-area: img-12 ;
        @include img;
    }
    .img-13{
        grid-area: img-13 ;
        @include img;
    }
    .img-14{
        grid-area: img-14 ;
        @include img;
    }
    .img-15{
        grid-area: img-15 ; 
        @include img;
     }
     .img-16{
        grid-area: img-16 ;
        @include img;
     }
     .carousel{
        grid-area: carousel;
      }
  }
 }

 // media query para celular
  /*  media query para celular */

 @media (min-width: 0px) and (max-width: 600px){

 .productos-page{
             h2{
                text-align: center;
                font-size: 2em;
                padding: 40px;
            }
        
     .productos-1{
            @include grid;
    grid-template-areas: 
    "carousel carousel"
    "img-1 img-2"
        "img-3 img-4"
        "img-5 img-6"
        "img-7 img-8"
        "img-9 img-10"
        "img-11 img-12"
        "img-13 img-14"
        "img-15 img-16";
        gap: 20px;
        justify-content: center;
        }

        .img-1{
           grid-area: img-1 ;
           height: 80%;  
        }
        .img-2{
            grid-area: img-2 ;
            height: 80%;
        }
        .img-3{
            grid-area: img-3 ;
            height: 80%;
        }
        .img-4{
            grid-area: img-4 ;
            height: 80%;
        }
        .img-5{
            grid-area: img-5 ;
            height: 80%;
        }
        .img-6{
            grid-area: img-6 ;
            height: 80%;
        }
        .img-7{
            grid-area: img-7 ;
            height: 80%;
        }
        .img-8{
            grid-area: img-8 ;
            height: 80%;
        }
        .img-9{
            grid-area: img-9 ;
            height: 80%;
        }
        .img-10{
            grid-area: img-10 ;
            height: 80%;
        }
        .img-11{
            grid-area: img-11 ;
            height: 80%;
        }
        .img-12{
            grid-area: img-12 ;
            height: 80%;
        }
        .img-13{
            grid-area: img-13 ;
            height: 80%;
        }
        .img-14{
            grid-area: img-14 ;
            height: 80%;
        }
        .img-15{
            grid-area: img-15 ; 
            height: 80%;
         }
         .img-16{
            grid-area: img-16 ;
            height: 80%;
         }
         .carousel{
            grid-area: carousel;
          }
        }
}